.navbar {
    position: sticky;
    color: #DBE8E1;
    background-color: #034687;
    top: 0%;
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 56px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 20;
    border-bottom: 1px solid #E10032;
}

.home-btn, .representatives-btn {
    font-size: 32px;
    margin: 10px;
}

.home-btn:hover, .representatives-btn:hover {
    cursor: pointer;
}

