.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner-content {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.instructions {
    width: 30%;
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.representative-item {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: row;
    list-style: none;
    box-sizing: border-box;
    padding: 15px;
    width: 80%;
    // height: 10%;
    // margin-bottom: -1px;
    // margin-top: -1px;
}

.official-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    // margin: 10px 0px 10px 0px;
    // margin: 9% 0% 9% 0% ;
    padding-left: 8px;
    padding-right: 8px;
    
    
}

.reps-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-bottom: 100px;
}

.address-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 46.33%;
    // margin: 9% 0% 9% 0% ;
    padding-left: 8px;
    padding-right: 8px;
}


.query-form {
    input {
        box-sizing: border-box;
        width: 30%;
        height: 5%;
        font-size: 100%;
        padding-left: 10px;
        margin: 10px 0;
    }
    label {
        width: 30%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        select:hover {
            cursor: pointer;
        }
    }
    button {
        height: 5%;
        // position: absolute;
        right: 464px;
        top: 550px;
    }
}

.contact-info {
    width: 33.33%;
    text-align: center;
        // margin: 9% 0% 9% 0% ;
    padding-left: 8px;
    padding-right: 8px;

}

#representativesInfo {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.modal {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.close {
    color: #aaa;
    position: fixed;
    font-size: 28px;
    font-weight: bold;
    top: 80px;
    z-index: 101;
    right: 505px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    display: flex;
    background-color: #151B25;
    height: 85%;
    margin: 4% auto;
    padding-top: 10px;
    border: 1px solid #888;
    border-radius: 7px;
    width: 48%;
    flex-direction: column;
    color: honeydew;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 7px;
}

.top {
    display: flex;
    flex-direction: row;
    height: 40%;
}

.bottom {
    display: flex;
    height: 60%;
}

.left {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    .no-image {
        align-self: center;
    }
}

.socials {
    display: flex;
    align-items: flex-end;
    width: 40%;
    svg {
        margin: 0 5px;
        color: black;
    }
    .fa-youtube, .fa-facebook {
        height: 50px;
        width: 30px;
    }
}

.twitter-timeline {
    margin: 0 10px;
}

.right {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 65%;
    .details {
        width: 60%;
        h2 {
            padding: 0px;
            margin-top: 0px;
        }
    }
}

.wiki {
    margin-right: 10px;
    border-radius: 7px;
}

#info-icon {
    width: 32px;
    height: 32px;
}

#info-icon:hover {
    cursor: pointer;
}

.info-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
    padding-left: 4%;
}

.D {
    color: blue;
}

.R {
    color: red;
}