h1 {
    text-align: center;
}

.splash {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    input {
        border-radius: 8px;
        box-sizing: border-box;
        width: 60%;
        height: 20%;
        font-size: 100%;
        padding-left: 10px;
        margin: 10px 0;
    }
    button {
        height: 30px;
        text-align: center;
        // position: absolute;
        border-radius: 8px;
        right: 900px;
        top: 450px;
    }
    button:hover {
        cursor: pointer;
    }
}

.go-back {
        height: 22px;
        width: 100px;
        padding-top: 4px;
        text-align: center;
        // padding-top: 40px;
        // position: absolute;
        // right: 900px;
        // top: 450px;
        border-radius: 8px;
        border: 2px solid brown;
}

.go-back:hover {
    cursor: pointer;
}

.splash-elections {
    display: flex;
    // justify-content: space-between;
    flex-direction: row;
    width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
    li {
        margin: 5px;
    }
}

body {
    background-color: #B1B1B1;
}

.election-item:hover {
    background-color:#034687;
    border: 3px solid black;
    border-radius: 8px;
    cursor: pointer;
    // height: 120px;
    color: white;
    transform: scale(1.05);
    box-shadow: 5px 10px 18px 10px #888888;
}


.election-item {
    background-color: #DBE8E1;
    border: 3px solid #E10032;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    transition: .4s;
}

.hide {
    display: none;
}

.home {
    font-size: 90px;
}

.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}